.product-container{
    display: flex;
    margin-bottom: 10px;
    font-weight: 600;
}

.single-product{
    border-bottom: 1px solid lightgray;
    padding: 20px;
}

.single-product h4{
    color: blue;
}

.cart-btn{
    height: 30px;
    width: 150px;
    background-color: goldenrod;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}